*{
    padding:0;
    margin:0;
}
#cabecalho{
    position:absolute;
    top:0;
    
  
}
hr{
   color:rgb(201, 201, 201); 
}

#esquerda{
    float:left;
    width:600px;
  
  }  
#noticiaPrincipal h1{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 3.5rem;
    line-height: 1.1;
    letter-spacing: -.03em;
    color:red;
}
.formatacaoLista{
    padding:20px;
}

.formatacaoLista-box{
    padding:8px;
    margin-left:8px;
}
.formatacao-Item-Lista-box{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -.035em;
    color:rgb(164, 0, 0);
}

#noticiaPrincipal li{
     font-family:Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -.035em;
}
.formatacao-a{
    font: weight 600px;
    font-size:20px;
    text-decoration:none;
    color:rgb(233, 135, 135);
}

#noticiaPrincipal a:hover{
    text-decoration:none;
    color:red;
    text-shadow: 1px 1px 1px #A40000;
}
/*primeira caixa de noticias*/
#noticiasSuperiores{
    padding-top:25px;
    padding-left:5px;
}
#noticiasInferiores{
    padding-top:25px;
    padding-left:5px;
}
.caixa img{
    height:100px;
    width:180px;
    border-radius:10px;
}
.caixa { 
    float:left;
    width:180px;
}.caixa p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.375rem;
}
/*segunda caixa de noticias */
.caixas img{
    height:100px;
    width:180px;
    border-radius:10px;
}
.caixas {
    padding-left:20px;
    float:left;
    
    width:180px;
}.caixas p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.375rem;
}
#borda{
    padding-top:10px;
    clear:both;
}
#bordaMeio{
    float:left;
    margin-left:30px;
    border:1px rgb(201, 201, 201) solid;
    border-style: inset;
    height:900px;
}

#direita{
    
    float:left;
    width:600px;
    height:900px;
    margin-left:25px;
}
#esquerdinha{
    width:250px;
    height:900px;
    float:left;

}

.boxesquerda img{
    height:140px;
    width:220px;
    border-radius:10px;
}
.boxesquerda {
   width:220px;
   padding:20px;
}.boxesquerda p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.375rem;
}

.formatacaoLista-box-esquerda{
    padding:8px;
    margin-left:8px;
}
.formatacao-Item-Lista-box-esquerda{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -.035em;
    color:rgb(101, 164, 0);
}
.formatacaoLista-box-direita{
    padding:8px;
    margin-left:8px;
}
.formatacao-Item-Lista-box-direita{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -.035em;
    color:rgb(0, 10, 143);
}
#corpo{
    clear:both;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top:150px;
}
#bordas{
    float:left;
    margin-left:50px;
    border:1px rgb(201, 201, 201) solid;
    border-style: inset;
    height:900px;
}  
#direitinha{
    
    width:250px;
    height:900px;
    float:left;
    margin-left:25px;
}
