
*{
    padding:0;
    margin:0;
}

#cabecalho{
    
    width:0 auto;
    height:100px;
    background-color:red;
}
#titulo{
    margin: 0 auto;
    height:75px;
    width: 75%;
    background-color: blue;
}
#menu{
    margin: 0 auto;
    height:25px;
    width: 75%;
    background-color: grey;
}
#corpo{
    margin: 0 auto;
    width:75%;
    height:900px;
    background-color:blue;
}

#receitas{
    float:left;
    background-color:green;
    width:30%;
    height:900px;
    margin:25px 25px 0px 25px;
    
}
#dicas{



}
#materias{



}
#rodape{
    margin:0 auto;
    width:100%;
    height:100px;
    background-color:red;
}